// Define variables for your color scheme
$container-background-color: #327338;
$main-text-color: #fff;
$secondary-text-color: #559C5C;
$background: #000000;
$secondary-background: #15191d;
$secondary-text: #C0C0C0;
