.container-chatroom {
  background-color: #327338;
  display : grid;
  color: white;
  border-radius: 25px;
  margin: 10%;
}

.chatrooms-city h2 {
  background-color: white;
  display: column;
  color: black;
}
