.chatroom {
  align-items: baseline;
  grid-template-columns: 2fr 4fr;
  display: grid;
  padding: 10%;

}
.container-chatroom {
  background-color: #327338;
  display : grid;
  color: white;
  border-radius: 10px ;
  margin: 10%;
  grid-template-columns: 1fr;
  width: 200px;
  text-align: center;
}

.chatrooms-city h2 {
  background-color: white;
  display: column;
  color: black;
  justify-self: auto;
}

.chatrooms-city {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.chat-box {
  display: flex;
  padding: 20px;
  border: #327338;
  width:  600px;

}

.messages{
  display: grid;
  background-color: white;
  align-items: flex-end;
  margin: auto;
  border-radius: 10px;
  border-width: 50px;
  align-items:last baseline;
  border: 0.5px;
  height: 110px;
}
.message{
  margin-top: 0%;
}
