.festival-show-container{
  background-color: rgba($color: #000000, $alpha: .5);
  border-radius: 10px;
  padding: 30px !important;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .festival-top-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .festival-show-top{
    display: flex;
    width: 100%;;
    gap: 30px;

    .festival-show-left{
      width: 45%;
      height: 400px;
      background-position: center;
      background-size: cover;
      border-radius: 15px;

      position: relative;

      .heart-icon{
        position: absolute;
        right: 15px;
        top: 15px;
        color: white;
        width: 35px;
        height: 35px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        svg{
          width: 35px;
          height: 35px;
        }
      }
      .liked{
        position: absolute;
        right: 15px;
        top: 15px;
        color: white;
        fill: white;
        width: 35px;
        height: 35px;
      }
    }

    .festival-show-right{
      display: flex;
      flex-direction: column;
      width: 55%;
      gap: 30px;

      .festival-title-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .festival-title-left{
          display: flex;
          align-items: center;
          gap: 15px;

          svg{
            width: 35px;
            height: 35px;
            color: white;
          }
        }

        svg{
          width: 30px;
          height: 30px;
          color: white;
          cursor: pointer;
        }

      }
      .festival-artists-container{
        overflow: auto;
        white-space: nowrap;
        display: flex;
        gap: 10px;
        flex-direction: row;

        .festival-artist{
          min-width: 150px;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          gap: 5px;

          img{
            height: 110px;
            width: 110px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
          }
        }
      }

      .festival-show-info{
        display: flex;
        justify-content: space-between;
      }



    }
  }
  .festival-show-bottom{
    border-radius: 10px;
    height: 500px;

    iframe{
      border-radius: 10px;
    }
  }
}

.index-festival-container {
  display: flex;
  margin: auto;
  gap: 10px;
}

.content-festival-left {
  height: 100%;
  width: 70%;
}

.artist-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 150px;
}
