.favorite-card{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.fav-card{
  display: flex;
  background-color: rgba($color: #000000, $alpha: .5);
  border: none;
  border-radius: 10px;
  padding: 10px;
  gap: 20px;
  height: 200px;
  width: 617px;
  cursor: pointer;

  .fav-left{
    position: relative;
    width: 300px;
    height: 100%;

    img{
      height: 100%;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }

    .heart{
      position: absolute;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 5px;
      left: 5px;
      height: 34px;
      width: 34px;
      color: #fff;

      svg{
        height: 30px;
        width: 30px;
      }
    }
  }

  .fav-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;


    .top{
      display: flex;
      justify-content: space-between;
      text-align: start;
      align-items: center;

      .chat-icon{
        text-decoration: none;
        height: 34px;
        width: 34px;
        color: #fff;
        svg{
          transition: fill .2s;
          fill: transparent;
          height: 30px;
          width: 30px;
        }
        &:hover{
          svg{
            fill: #fff;
          }
        }
      }
    }
    .middle{
      display: flex;
      justify-content: start;
      text-align: start;
    }
    .separator{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .bottom{
      display: flex;
      justify-content: start;

      .icons{
        color: #fff;
        display: flex;
        gap: 10px;
        align-items: center;
        svg{
          height: 34px;
          width: 34px;
        }
      }
    }
  }
}

.chatrooms-favorites-card{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 10px 20px 10px 0px;

  .fav-card{
    display: flex;
    background-color: rgba($color: #000000, $alpha: .5);
    border-radius: 10px;
    padding: 10px;
    padding-right: 20px;
    gap: 20px;
  }
}
