
.card-festivals {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  padding: 16px;

  .card-festival {
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .card-festival-image {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 130px;
      background-size: cover;
      background-position: center;
      text-align: end;
      padding: 1rem;

      .heart-icon {
        background-color: transparent;
        border: none;
        cursor: pointer;
        text-align: end;
        svg {
          fill: #fff;
        }
      }

      .card-festival-image-title{
        align-self: flex-start;
      }
      .card-festival-image-title h2{
        margin: 0;
        color: #fff;
        text-align: left;
      }
    }

    .card-festival-content {
      position: relative;
      background: rgba(0, 0, 0, 0.5);
      padding: 1rem;

      .card-festival-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card-festival-location  p {
          color: #559C5C;
          margin-bottom: 0;
        }

        .card-festival-date {
          padding-top: 0.5rem;
          margin-bottom: 0;
          color: #fff;
        }

        .card-festival-inputs {
          display: flex;
          justify-content: flex-end;

          .ticket-icon {
            svg {
              color: #fff;
            }
          }
          .shared-icon {
            svg {
              color: #fff;
            }
          }

          button {
            background-color: transparent;
            border: none;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}
