.back-icon{
  text-decoration: none;
  color: $main-text-color;

  svg{
    height: 46px;
    width: 46px;
  }
}

.player-icon{
  text-decoration: none;
  color: $main-text-color;

  svg{
    height: 30px;
    width: 30px;
  }
}
.spotify-icon{
  text-decoration: none;
  fill: #1DB954;
  height: 24px;
  width: 24px;
}

.heart-liked{
  fill: #fff;
}
.submit-icon{
  color : black;
  background: none;
  border: none;
  height: 50px;
  width: 50px;
}

.liked{
  animation: liked 0.5s ease-in-out forwards;
}
.likedsvg{
  svg{
    fill: #fff;
  }
}
.unlikedsvg{
  svg{
    fill: transparent;
  }
}

@keyframes liked {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
