.back-icon{
  text-decoration: none;
  color: $main-text-color;

  svg{
    height: 46px;
    width: 46px;
  }
}

.player-icon{
  text-decoration: none;
  color: $main-text-color;

  svg{
    height: 30px;
    width: 30px;
  }
}
.spotify-icon{
  text-decoration: none;
  fill: #1DB954;
  height: 24px;
  width: 24px;
}

.heart-liked{
  fill: #fff;
}
.submit-icon{
  color : black;
  background: none;
  border: none;
  height: 50px;
  width: 50px;
}
