.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

.message-row-right,
.message-row-left {
  display: flex;
  flex-direction: column;
}

.message-row-right {
  align-items: flex-end;
}

.message-row-left {
  align-items: flex-start;
}

.sender-style,
.receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: #327338;
  color: white;
  border-radius: 10px 0px 10px 10px;
}

.receiver-style {
  background-color: white;
  border-radius: 0px 10px 10px 10px;
}
