.search-bar-container{
  display: flex;
  align-items: center;

  padding-inline: 5px;
  border: 2px solid $main-text-color;
  border-radius: 20px;

  gap: 8px;

  .search-bar-input{
    width: 350px;
    background: none;
    border: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-block: 8px;

    color: $main-text-color;

    &:focus{
      outline: none;
    }

    &::placeholder{
      color: rgba($color: $main-text-color, $alpha: .5);
    }
  }
  .search-bar-icon{
    border: none;
    background: none;
    color: $main-text-color;
    display: flex;
    align-items: center;

    svg{
      height: 24px;
      width: 24px;
    }
  }
}
