<h1>Festivals</h1>
<%= @festivals.count %> festivals

<% @festivals.each do |festival| %>
  <h2><%= link_to festival.name, festival_path(festival) %></h2>
  <%= cl_image_tag festival.photo.key %>
<% end %>
