// Graphical variables
@import "config/colors";
@import "config/fonts";

// External libraries
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
}
